<nav id="nav-top" class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "FixIt", skills_path, :class => "head-fix"%>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right sign">
        <%if !user_signed_in?%>
          <li class="active">
            <%= link_to "SignUp", new_user_registration_path%>
          </li>
          <li>
            <%= link_to "LogIn", new_user_session_path%>
          </li>
        <%end%>
        <%if user_signed_in?%>
          <li>
            <%= link_to "logout", destroy_user_session_path, :method => :delete%>
          </li>
        <%end%>
      </ul>
    </div>
  </div>
</nav>
<h1 class="gstyle text-center">'<%= @skill.name %>' Category</h1>
<div class="container">
  <%if @skill.user == current_user %>
  <p><%= link_to "Edit Category", edit_skill_path(@skill), :class => "btn btn-primary fundi-btn" %></p>
  <p><%= link_to "Delete Category", skill_path(@skill), :class => "btn btn-primary fundi-btn" ,
                       :data => {:confirm => "You sure?",
                                 :method => "delete"} %></p>
              <%end%>

</div>


<div class="container">
<% if @skill.fundis.any? %>
    <ul>
      <% @skill.fundis.each do |fundi| %>
        <div class="thumbnail col-md-10 thumb-fundi">
          <%= image_tag fundi.image.url(:thumb)%>
          <%= link_to fundi.first_name, fundi_path(fundi), :class => "fundi-name" %><br>
          <%= fundi.location%><br>
          <%= fundi.contacts%><br>
          <%if fundi.user == current_user %>
        <%= link_to "Edit profile", edit_skill_fundi_path(@skill, fundi)%>
        <%= link_to "Delete profile", skill_fundi_path(@skill, fundi),
                             :data => {:confirm => "You sure?",
                                       :method => "delete"} %>
                                       <%end%>
        </div>
      <% end %>
    </ul>
<% else %>
<p>There are no fundis yet!</p>
<% end %>
</div>

  <br>
  <div class="container">
    <%= link_to "New fundi", new_skill_fundi_path(@skill), :class => "btn btn-primary fundi-btn" %>
  </div>
