<h1>Fundis for <%= @skill.name %> Category</h1>
<p><%= link_to "Edit", edit_skill_path(@skill) %></p>
<p><%= link_to "Delete", skill_path(@skill),
                     :data => {:confirm => "You sure?",
                               :method => "delete"} %></p>

<% if @skill.fundis.any? %>

    <ul>
      <% @skill.fundis.each do |fundi| %>
        <li>
          <%= link_to fundi.first_name, fundi_path(fundi) %>
          <%= fundi.location%>
          <%= fundi.contacts%>

        </li>
        <%= link_to "Edit profile", edit_skill_fundi_path(@skill, fundi)%>
        <%= link_to "Delete profile", skill_fundi_path(@skill, fundi),
                             :data => {:confirm => "You sure?",
                                       :method => "delete"} %>

      <% end %>
    </ul>
  <% else %>
    <p>There are no fundis yet!</p>
  <% end %>

  <%= link_to "New fundi", new_skill_fundi_path(@skill) %>
  <p><%= link_to "Home", skills_path %></p>
